fastapi
uvicorn
openai
pyodbc
azure-search-documents
numpy
azurefunctions-extensions-http-fastapi
azure-functions
starlette
msal
requests
langchain
langgraph
azure.identity
azure.keyvault.secrets
pydantic
typing-extensions
opencensus-ext-azure
opencensus
azure.storage.blob
dsnparse
llama-index
tiktoken
httpx
azure-data-tables
pydantic-settings
pyjwt[crypto]